html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#map {
  height: calc(100% - 140px)
}

header {
  padding: 10px;
  height: 120px
}

h1 {
  margin: 0 0 14px;
}

h1 select {
  font-size: 24px;
}

.description {
}

.source {
  font-style: italic;
  margin-top: 5px;
}

.controls {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
}

.controls button {
  font-size: 16px;
}

.leaflet-container { background-color:rgba(255, 251, 219, 1); }

.leaflet-emoji {
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}
